<%- model_class = Task -%>
<div class="page-header">
  <h1>Welcome page</h1>
</div>

<table class="table table-striped">
  <%= render :partial => 'tasks/table_header', :locals => {:model_class => model_class} %>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.id, task_path(task) %></td>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.state %></td>
      <td><%= link_to task.user.email, :controller => :users, :action => :dashboard, :id => task.user.id if task.user %></td>
      <td><%= task.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>
</div>
